@model LibraryApp.Models.Book

@{
    ViewData["Title"] = "Create";
    User? user = ViewBag.UserData;
    DateTime? initialDate = ViewBag.InitialDate;
}
<h4>Nova Reserva</h4>
<div class="row">
    <div class="col-md-4">
        <hr />
        <h4>Book's Information</h4>
        <form asp-action="CreateReservation">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Title" class="control-label">Título do Livro</label>
                <input asp-for="@Model.Title" class="form-control" value="@Model.Title" readonly />
                <span validation-for="BookTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Author" class="control-label">Autor</label>
                <input asp-for="@Model.Author" class="form-control" value="@Model.Author" readonly />
                <span validation-for="Autor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="InitialDate" class="control-label">Data da inicial Reserva</label>
                <input name="InitialDate" class="form-control" value=@initialDate.Value.Date readonly />
                <span validation-for="InitialDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="LastDate" class="control-label">Data final da Reserva</label>
                <input name="LastDate" class="form-control" value=@initialDate.Value.AddDays(2).Date readonly />
                <span validation-for="LastDate" class="text-danger"></span>
            </div>
            @if (user != null && !user.HasReservation)
            {
                <div class="form-group">
                    <input name="BookId" value="@Model.BookId" style="display:none" />
                    <input name="BookTitle" value="@Model.Title" style="display:none" />
                    <input name="UserId" value="@user.UserId" style="display:none" />
                    <input type="submit" value="Reserve" class="btn btn-success" style="margin-top: 20px" />
                </div>
            }
        </form>
    </div>
    <div class="col-md-4">
        <hr />
        <h4>User's Information</h4>
        <form asp-action="Search" method="post">
            <div class="form-group">
                <label for="UserId" class="control-label">User Id</label>
                <div style="display:flex">
                    <input name="bookId" class="form-control" style="display:none" value="@Model.BookId" />
                    <input name="userId" class="form-control" />
                    <input type="submit" class="btn btn-info" value="Search" style="margin-left: 5px">
                </div>
                <span validation-for="UserId" class="text-danger"></span>
            </div>
            @if (user != null)
            {
                <div class="form-group">
                    <label asp-for="@user.Name" class="control-label">Nome do Aluno</label>
                    <input asp-for="@user!.Name" class="form-control" value="@user!.Name" readonly />
                    <span validation-for="LastDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@user.Email" class="control-label">Email</label>
                    <input asp-for="@user.Email" class="form-control" readonly />
                    <span validation-for="LastDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@user.PhoneNumber" class="control-label">Telefone</label>
                    <input asp-for="@user.PhoneNumber" class="form-control" readonly />
                    <span validation-for="LastDate" class="text-danger"></span>
                </div>
                @if (user != null && user.HasReservation)
                {
                    <div class="col-md-4" style="text-align:center">
                        <p>O aluno já possui uma reserva. Por favor, verifique <a asp-action="Index">aqui</a></p>
                    </div>
                }
            }
            else
            {
                <p style="text-align:center">User not found.</p>
            }
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
