@model IEnumerable<LibraryApp.Models.Reservation>

@{
    ViewData["Title"] = "Index";
}

<h1>Controle de Reservas</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Matrícula SIGE
            </th>
            <th>
                Registro do Livro
            </th>
            <th>
                Data inicial da Reserva
            </th>
            <th>
                Data final da Reserva
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    <a asp-controller="Books" asp-action="Details" asp-route-id="@item.BookId">@Html.DisplayFor(modelItem => item.BookId)</a>
            </td>
            <td>
                    <a asp-controller="Users" asp-action="Details" asp-route-id="@item.UserId">@Html.DisplayFor(modelItem => item.UserId)</a>
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.InitialDate!.Value.Date)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.LastDate!.Value.Date)
            </td>
            <td>
                    <a asp-action="Delete" asp-route-id="@item.Id"><input type="submit" value="Delete" class="btn btn-danger" /></a>
            </td>
        </tr>
}
    </tbody>
</table>
