@model IEnumerable<LibraryApp.Models.Book>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="font-weight: 400;">Bem-vindo ao Sitema da Biblioteca!</h1>
    <div class="col-md-6" style="margin: 20px auto">
        <form asp-action="Search" method="post">
            <label style="font-weight: bold;">Pesquisar um Livro</label>
            <div style="display: flex; flex-direction: row; align-items: center;">
                <input name="title" type="search" class="input-group input-group-lg" />
                <input type="submit" value="Buscar" class="btn btn-dark" style="padding:.2rem 0.75rem" />
            </div>
        </form>
    </div>
    <div class="col-md-8" style="margin: 20px auto">
        @if (Model == null || !Model.Any())
        {
            <p style="font-weight: bold;">Nenhum Livro encontrado!</p>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Título
                        </th>
                        <th>
                            Gênero
                        </th>
                        <th>
                            Autor
                        </th>
                        <th>
                            Registro
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Reservado
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        @if (item.Status == Status.Available && item.Reserved == Status.Available)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Genre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Author)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Register)
                                </td>
                                <td style="color:green">
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td style="color:green">
                                    Não
                                </td>
                                <td>
                                    <form asp-action="Borrow" method="post">
                                        <input style="display:none;" asp-for="First().BookId" value=@item.BookId/>
                                        <input type="submit" value="Realizar Empréstimo" class="btn btn-success" />
                                    </form>
                                </td>
                            </tr>
                        }
                        else if(item.Status == Status.Available && item.Reserved == Status.Reserved)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Genre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Author)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Register)
                                </td>
                                <td style="color:green">
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td style="color:red">
                                    Sim
                                </td>
                                <td>
                                    <form asp-action="ViewReservation" method="post">
                                        <input style="display: none;" name="id" value="@item.BookId" />
                                        <input type="submit" value="Ver Reserva" class="btn btn-info" />
                                    </form>
                                </td>
                            </tr>
                        }
                        else if(item.Status == Status.Borrowed && item.Reserved == Status.Available)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Genre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Author)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Register)
                                </td>
                                <td style="color:red">
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td style="color:green">
                                    Não
                                </td>
                                <td>
                                    <form asp-action="Devolve" method="post">
                                        <input style="display:none;" name="id" value="@item.BookId" />
                                        <input type="submit" value="Devolver" class="btn btn-danger" />
                                    </form>
                                </td>
                                <td>
                                    <form asp-action="Reserve" method="post">
                                        <input style="display:none;" name="id" value="@item.BookId" />
                                        <input type="submit" value="Reservar" class="btn btn-warning" />
                                    </form>
                                </td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Genre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Author)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Register)
                                </td>
                                <td style="color:red">
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td style="color:red">
                                    Sim
                                </td>
                                <td>
                                    <form asp-action="Devolve" method="post">
                                        <input style="display:none;" name="id" value="@item.BookId" />
                                        <input type="submit" value="Devolver" class="btn btn-danger" />
                                    </form>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
    </div>
    <div style="display:flex; flex-direction: column; align-items: center; justify-content: center; margin-top: 70px">
        <img src="/images/wf-icon.png" alt="WF Icon" style="position: absolute; z-index: -1; opacity: 0.3;"/>
    </div>
</div>
