@model IEnumerable<LibraryApp.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h1>Controle de Alunos</h1>

<p>
    <a asp-action="Create"><input type="button" value="Adicionar Aluno" class="btn btn-success" /></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Email
            </th>
            <th>
                Telefone
            </th>
            <th>
                Turma
            </th>
            <th>
                Matrícula SIGE
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Class)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SIGE)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.UserId"><input type="button" value="Editar" class="btn btn-warning" /></a>
                    <a asp-action="Delete" asp-route-id="@item.UserId"><input type="button" value="Remover" class="btn btn-danger" /></a>
            </td>
        </tr>
}
    </tbody>
</table>
