
@using Microsoft.AspNetCore.Identity
@model IEnumerable<LibraryApp.Models.User>
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<h1>Controle de Alunos</h1>

<p>
    <a asp-action="Create"><input type="button" value="Cadastrar Aluno" class="btn btn-success" /></a>
</p>
<h3>Lista de Alunos</h3>
<form asp-action="FilterUser">
    <div class="row" style="width: 30%;">
        <div class="col">
            <label name="turma">Turma</label>
            <select name="turma" class="form-select mb-3">
                @foreach (ClassRoom item in Enum.GetValues(typeof(ClassRoom)))
                {
                    <option value="@item">@item.GetDescription()</option>
                }
            </select>
        </div>
        </div>
        <input type="submit" value="Pesquisar" class="btn btn-info" style="width: 100px;"/>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                E-mail
            </th>
            <th>
                Telefone
            </th>
            <th>
                Turma
            </th>
            <th>
                Matrícula SIGE
            </th>
        </tr>
    </thead>
    @if(Model != null)
    {
        <tbody>
            @foreach (var item in Model)
            {
                if(item.HasBorrow)
                {
                <tr style="color: red;">
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Class)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SIGE)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.UserId"><input type="button" value="Editar" class="btn btn-warning" /></a>
                        <a asp-action="Delete" asp-route-id="@item.UserId"><input type="button" value="Remover" class="btn btn-danger" /></a>
                    </td>
                </tr>
                }
                else if(item.HasReservation)
                {
                <tr style="color: yellow;">
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Class)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SIGE)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.UserId"><input type="button" value="Editar" class="btn btn-warning" /></a>
                        <a asp-action="Delete" asp-route-id="@item.UserId"><input type="button" value="Remover" class="btn btn-danger" /></a>
                    </td>
                </tr>
                }
                else
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Class)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SIGE)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.UserId"><input type="button" value="Editar" class="btn btn-warning" /></a>
                        <a asp-action="Delete" asp-route-id="@item.UserId"><input type="button" value="Remover" class="btn btn-danger" /></a>
                    </td>
                </tr>
                }
            }
        </tbody>
    }
</table>
