@model IEnumerable<LibraryApp.Models.Borrow>

@{
    ViewData["Title"] = "Index";
}
<h1>Controle de Empréstimos</h1>
<p>
    <a asp-action="Create"><input type="button" value="Novo Empréstimo" class="btn btn-success" /></a>
</p>
<h4>Empréstimos Ativos</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                Registro do Livro
            </th>
            <th>
                Matrícula SIGE
            </th>
            <th>
                Data do Empréstimo
            </th>
            <th>
                Data de Devolução
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            if (!item.IsDevolved)
            {
                <tr>
                    <td>
                        <a asp-controller="Books" asp-action="Details" asp-route-id="@item.BookId">@Html.DisplayFor(modelItem => item.BookId)</a>
                    </td>
                    <td>
                        <a asp-controller="Users" asp-action="Details" asp-route-id="@item.UserId">@Html.DisplayFor(modelItem => item.UserId)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InitialDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastDate)
                    </td>
                    <td>
                        @if (DateTime.Now.Date == item.LastDate)
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id"><input type="button" class="btn btn-warning" value="Renew" /></a>
                        }
                        <a asp-action="Delete" asp-route-id="@item.Id"><input type="button" class="btn btn-danger" value="Devolve" /></a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<h4>Empréstimos Encerrados</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                Registro do Livro
            </th>
            <th>
                Matrícula SIGE
            </th>
            <th>
                Data do Empréstimo
            </th>
            <th>
                Data de Devolução
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.IsDevolved)
            {
                <tr>
                    <td>
                        <a asp-controller="Books" asp-action="Details" asp-route-id="@item.UserId">@Html.DisplayFor(modelItem => item.BookId)</a>
                    </td>
                    <td>
                        <a asp-controller="Users" asp-action="Details" asp-route-id="@item.BookId">@Html.DisplayFor(modelItem => item.UserId)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InitialDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastDate)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>