@model IEnumerable<LibraryApp.Models.Borrow>

@{
    ViewData["Title"] = "Index";
}

<h1>Borrow's Control</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InitialDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastDate)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.InitialDate)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.LastDate)
            </td>
            <td>
                    @if(DateTime.Now == item.LastDate)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id"><input type="button" class="btn btn-warning" value="Renew" /></a>
                    }
                    <a asp-action="Details" asp-route-id="@item.Id"><input type="button" class="btn btn-info" value="Detail" /></a>
                    <a asp-action="Delete" asp-route-id="@item.Id"><input type="button" class="btn btn-danger" value="Delete" /></a>
            </td>
        </tr>
}
    </tbody>
</table>
